<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<style>
		table{
			border-style: dashed;
			border-spacing: 5px;
			width: 40%;
		}
		td{
			border: 1px solid grey;
			padding: 5px;
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>