<h1>POST Request Received</h1>

<table>
    <thead>
      <tr>URL Query Results</tr>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
        {{#each urlList}}
            <tr>
                <td>{{this.data}}</td>

                <td>{{this.result}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<table>
  <thead>
    <tr>Data Results</tr>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each dataList}}
      <tr>
        <td>{{this.jdata}}</td>
        <td>{{this.jresult}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>